extends ../../layouts/default.pug
include ../../mixins/box-head

block main
    .main 
        .container.my-3
            .row
                .col-12
                    +box-head(pageTitle)
            section.py-5
                .container
                    .row
                        each song in songs
                            .col-6.mb-3 
                                div(class="song-item")
                                    div(class="inner-image")
                                        a(href="")
                                            img(src=song.avatar alt="")
                                    div(class="inner-content")
                                        div(class="inner-title")
                                            a(href=`detail/${song.slug}`).text-decoration-none.text-danger #{song.title}
                                        div(class="inner-singer")  #{song.infoSinger.fullName}
                                        div(class="inner-like") <i class="fas fa-thumbs-up text-primary"></i> #{song.like}
                                        div(class="inner-time") <i class="far fa-clock text-dark"></i> Hôm nay